body{
    background-color: #eee;
    font-family: 'Palatino-Linotype', Palatino, 'Book-Antiqua', Serif, Sans-Serif;
    font-size: 14px;
    font-weight: normal;
}

#container{
    background-color: #ffffff;
    border-radius: .3em;
    width: 400px;
    height: 180px;
    margin-left: 460px;
    margin-top: 140px;


}
.logo{
    margin-left: 25px;
    border-right: 1px solid #eeeeee;
}

.form{
    margin: -120px 200px;
    padding: 12px 12px 12px 12px;

}

.input{
    border-radius: 4px;
    height: 30px;
    padding: 10px;
}

.input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.butn {
    display: inline-block;
    zoom: 1;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 13px/100% Arial, Helvetica, sans-serif;
    padding: .4em 1em;
    margin-left: 90px;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.butn-turquoise {
    color: white;
    text-shadow: 0 1px 1px rgba(204, 204, 204, 0.3);
    border: solid 1px #17a689;
    background: #1abc9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1dd2af), to(#17a689));
    background: -moz-linear-gradient(top, #1dd2af, #17a689);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
.butn-turquoise:hover,.butn-turquoise:focus,.butn-turquoise:active {
    background-color: #17a689;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17a689), color-stop(100%, #148f77));
    background-image: -webkit-linear-gradient(top, #18af91, #17a689);
    background-image: -moz-linear-gradient(top, #17a689, #117964);
    background-image: -ms-linear-gradient(top, #17a689, #117964);
    background-image: -o-linear-gradient(top, #17a689, #117964);
    background-image: linear-gradient(top, #17a689, #117964);
    border-top: 1px solid #007858;
    border-left: 1px solid #006747;
    border-bottom: 1px solid #005636;
    border-right: 1px solid #006747; }

.topstrip{position:fixed;top:0;right:0;left:0;height:35px;background-color:#424651;color:#fff;border-bottom:4px solid #9367C8;z-index:9999}
.dlogout{position:absolute;right:45px;margin-top:5px;color:#EAF1F2}
.dnamebg{margin-left: 4px;}
.dnamebg img{border-radius: 2px;}
.sinfo{background-color:#424651; padding-left:10px;border:3px solid #8356BA; width:756px;
    border-radius:7px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;

    font-weight:bold; padding-top: 13px;}
.sinfo a{text-decoration: none; color: #D9CFE1}
.sinfo li{list-style: none; font-size: 15px; margin-bottom: 20px; color: #9367C8}

.hidden{display:none;visibility:hidden}.alertcount{float:right;margin:1.5em 15px 0;padding:3px 5px;border-radius:50%;background:#ea4f35;font-size:.7em;line-height:1em;font-style:normal;color:#fff}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}.lside{position:fixed;margin:50px auto;clear:both;width:250px;border-right:0 solid #B8B8B8;z-index:999}.dvmenu{list-style:none;padding:0;margin:30px 0 0;background:#424651;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;width:250px;border-right:px solid #6F6F6F}.dvmenu li{position:relative}.dvmenu li:first-child{border-top-right-radius:5px}.dvmenu li:last-child{border-bottom-right-radius:5px}.dvmenu li a{display:block;text-decoration:none;padding:12px 20px;color:#E2E2E2;text-align:left;height:30px;position:relative;border-bottom:2px solid #EEE;border-left:3px solid #9367C8}.dvmenu li a i{float:left;font-size:20px;margin:0 10px 0 0}.dvmenu li a strong{display:block;text-transform:uppercase}.dvmenu li a small{display:block;font-size:10px;opacity:0}.dvmenu li a i,.dvmenu li a strong,.dvmenu li a small{position:relative;transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;-moz-transition:all 300ms linear;-webkit-transition:all 300ms linear}.dvmenu li:hover >a i{opacity:1;-webkit-animation:moveFromTop 300ms ease-in-out;-moz-animation:moveFromTop 300ms ease-in-out;-ms-animation:moveFromTop 300ms ease-in-out;-o-animation:moveFromTop 300ms ease-in-out;animation:moveFromTop 300ms ease-in-out}.dvmenu li:hover a strong{opacity:1;-webkit-animation:moveFromLeft 300ms ease-in-out;-moz-animation:moveFromLeft 300ms ease-in-out;-ms-animation:moveFromLeft 300ms ease-in-out;-o-animation:moveFromLeft 300ms ease-in-out;animation:moveFromLeft 300ms ease-in-out}.dvmenu li:hover a small{opacity:1;-webkit-animation:moveFromRight 300ms ease-in-out;-moz-animation:moveFromRight 300ms ease-in-out;-ms-animation:moveFromRight 300ms ease-in-out;-o-animation:moveFromRight 300ms ease-in-out;animation:moveFromRight 300ms ease-in-out}.dvmenu li:hover >a{color:#9367C8}.dvmenu li a.active{position:relative;color:#9367C8;border:0;box-shadow:0 0 5px #DDD;-moz-box-shadow:0 0 5px #DDD;-webkit-box-shadow:0 0 5px #DDD;border-left:4px solid #9367C8;border-right:4px solid #9367C8;margin:0;border-bottom:2px solid #EEE}.dvmenu li a.active:before{content:"";position:absolute;top:42%;left:0;border-left:5px solid #9367C8;border-top:5px solid transparent;border-bottom:5px solid transparent}.dvmenu li a.active:after{content:"";position:absolute;top:42%;right:0;border-right:5px solid #9367C8;border-top:5px solid transparent;border-bottom:5px solid transparent}@-webkit-keyframes moveFromTop{from{opacity:0;-webkit-transform:translateY(200%);-moz-transform:translateY(200%);-ms-transform:translateY(200%);-o-transform:translateY(200%);transform:translateY(200%)}to{opacity:1;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%)}}@-webkit-keyframes moveFromLeft{from{opacity:0;-webkit-transform:translateX(200%);-moz-transform:translateX(200%);-ms-transform:translateX(200%);-o-transform:translateX(200%);transform:translateX(200%)}to{opacity:1;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}}@-webkit-keyframes moveFromRight{from{opacity:0;-webkit-transform:translateX(-200%);-moz-transform:translateX(-200%);-ms-transform:translateX(-200%);-o-transform:translateX(-200%);transform:translateX(-200%)}to{opacity:1;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}}.dvmenu li ul,.dvmenu li ul li ul{position:absolute;height:auto;min-width:200px;padding:0;margin:0;background:#FFF;opacity:0;visibility:hidden;transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;-moz-transition:all 300ms linear;-webkit-transition:all 300ms linear;z-index:1000;list-style:none;left:280px;top:0;border-left:4px solid #89B732}.dvmenu li ul:before{content:"";position:absolute;top:25px;left:-9px;border-right:5px solid #89B732;border-bottom:5px solid transparent;border-top:5px solid transparent}.dvmenu li:hover >ul,.dvmenu li ul li:hover >ul{display:block;opacity:1;visibility:visible;left:250px;margin-top:-25%}.dvmenu li ul li a{padding:10px;text-align:left;border:0;border-bottom:1px solid #EEE;height:auto}.dvmenu li ul li a i{font-size:16px;display:inline-block;margin:0 10px 0 0}.dvmenu li ul li ul{left:230px;top:0;border:0;border-left:4px solid #89B732}.dvmenu li ul li{background-color:#606060}.dvmenu li ul li ul:before{content:"";position:absolute;top:15px;left:-9px;border-right:5px solid #9367C8;border-bottom:5px solid transparent;border-top:5px solid transparent}.dvmenu li ul li:hover >ul{top:0;left:200px}.stitle{font-size:2.4em;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;padding:8px 4px;margin-bottom:28px;color:#5F5F5F}
.tstrip{background-color: #9B5CB5; color: #ffffff; margin-bottom:15px; padding: 8px; font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; margin-left: 9px; border-radius: 3px; font-weight: bold; font-size: 15px;}
.tstrip2{background-color:#7BC059;}
.tstrip3{background-color:#005683;}
.tstrip4{background-color:#60ACF9;}
.tstrip5{background-color:#B95C5C;}
.tstrip6{background-color:#F3991A;}
.dtime{color:#F6F6F6;font-size:13px;display:inline;position:absolute;right:10px;bottom:0;z-index:9999}
.gfont{font-family: lato, Verdana, Geneva, sans-serif}
.container-master{margin-left: 310px;background-color: transparent; margin-top: 60px; position:absolute;width: auto;}
.fcon{margin-left: 200px; margin-top: 40px;}
.fconn{margin-left:50px; margin-top: 1px;}
.binna{width: 900px;}
.red{color:#E94D43;}
.green{color:#429F40;}
.green2{color:#31C16E;}
.blue{color:#03B0D7;}
.yellow{color:#F6DF60;}
.gray{color:#858585;}
.bfont{font-size: 16px;}

.bkg-red{color:#E94D43;}
.bkg-green{color:#429F40;}
.bkg-green2{color:#31C16E;}
.bkg-blue{color:#03B0D7;}
.bkg-yellow{color:#F6DF60;}
.bkg-gray{color:#858585;}
.bold{font-weight: bold;}
.bti{font-size: 15px; color: #fff; text-align:center;   font-family: 'Raleway', sans-serif }
.head-block{background:#9B5CB5; padding:2px;border-radius: 5px; margin-bottom: 10px; }
.passchangeform{border:4px solid #934DC7;border-radius:5px; padding: 9px;  }
.admission_form{width: 800px;}
#admit{
    background-color:#BAE8F4;
    border-radius: 4px;
    margin-left: 10px;
    padding: 12px;
    width:900px;
    border:2px solid #A8B5DA;
    margin-bottom: 10px;

}

#p_details{
    background-color:#BAE8F4;
    border-radius: 4px;
    margin-left: 10px;
    padding: 12px;
    width:900px;
    border:2px solid #A8B5DA;   margin-bottom: 10px;

}

#c_details_staff{
    background-color:#CAFAB2;
    border-radius: 4px;
    margin-left: 10px;
    padding: 12px;
    width:900px;
    border:2px solid #8FCF6F;   margin-bottom: 10px;

}

#upload_staff{
    background-color:#CAFAB2;
    border-radius: 4px;
    margin-left: 10px;
    padding: 12px;
    width:900px;
    border:2px solid #8FCF6F;   margin-bottom: 10px;
}


#c_details{
    background-color:#BAE8F4;
    border-radius: 4px;
    margin-left: 10px;
    padding: 12px;
    width:900px;
    border:2px solid #A8B5DA;   margin-bottom: 10px;

}

#upload{
    background-color:#BAE8F4;
    border-radius: 4px;
    margin-left: 10px;
    padding: 12px;
    width:900px;
    border:2px solid #A8B5DA;   margin-bottom: 10px;
}
#school_add{background-color:#424651;
    border-radius: 4px;
    margin-left: 140px;
    padding: 12px;
    width:400px;
    color: #EEEEEE;
    border:2px solid #A8B5DA;   margin-bottom: 10px;
}
#course_add{background-color:#F3935E;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 140px;
    padding: 12px;
    width:400px;
    color:#fff;
    border:4px solid #E4793E;   margin-bottom: 10px;
}
#class_add{background-color:#743535;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 140px;
    padding: 12px;
    width:400px;
    color:#fff;
    border:4px solid #E4793E;   margin-bottom: 10px;
}
.stabs{}
.course_re_alert{color: #E6423B;}
.g_mess{color:#7DAF1A; text-align: center;}
.bottomstrip{position:absolute;bottom:0;right:0;left:0;height:18px;background-color:#424651;color:#fff;border-top:4px solid #90C526}.adbottomstrip{position:absolute;bottom:0;right:0;left:0;height:18px;background-color:#383C45;color:#fff;border-top:4px solid #88B52D}.t10{font-size:11px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif}.b-gray{background-color:#F5FEFF}input{border:0;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:none}#dmslogin{margin:10px auto;width:400px;box-shadow:0 3px 14px rgba(0,0,0,.2)}#dmslogin h2{background:#9756B1;border-radius:2px 2px 0 0;color:#fff;font-size:18px;padding:1px; text-align: center}#dmslogin fieldset{background:#F6FAFA;border-radius:0 0 20px 20px;padding:20px 26px}#dmslogin fieldset p{color:#6A6A6A;margin-bottom:14px}#dmslogin fieldset p:last-child{margin-bottom:0}#dmslogin fieldset input{border-radius:3px}#dmslogin fieldset input{background:#F5F6F6;color:#777;padding:6px 11px;width:320px; height: 33px;}#dmslogin fieldset button{padding:6px 11px;width:140px; height: 33px;margin-right:0px;}.butn{display:inline-block;zoom:1;display:inline-block;outline:0;cursor:pointer;text-align:center;text-decoration:none;font:13px/100% Arial,Helvetica,sans-serif;padding:.5em 1em;-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}.butn:hover{text-decoration:none}.butn:active{position:relative;top:1px}.butn-white{text-shadow:0 1px 1px rgba(170,170,170,.3);border:solid 1px #dde4e6;background:#ecf0f1;background:-webkit-gradient(linear,left top,left bottom,from(#fbfcfc),to(#dde4e6));background:-moz-linear-gradient(top,#fbfcfc,#dde4e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e')}.butn-white:hover,.butn-white:focus,.butn-white:active{background-image:-webkit-linear-gradient(top,#fff 0,#fff 1px,#fff 100%);background-image:-moz-linear-gradient(top,#fff 0,#fff 1px,#fff 100%);background-image:-o-linear-gradient(top,#fff 0,#fff 1px,#fff 100%);background-image:linear-gradient(top,#fff 0,#fff 1px,#fff 100%)}.butn-red{color:#fff;text-shadow:0 1px 1px rgba(204,204,204,.3);border:solid 1px #e43725;background:#e74c3c;background:-webkit-gradient(linear,left top,left bottom,from(#ea6153),to(#e43725));background:-moz-linear-gradient(top,#ea6153,#e43725);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e')}.butn-red:hover,.butn-red:focus,.butn-red:active{background-color:#e43725;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e43725),color-stop(100%,#d62c1a));background-image:-webkit-linear-gradient(top,#e53f2e,#e43725);background-image:-moz-linear-gradient(top,#e43725,#bf2718);background-image:-ms-linear-gradient(top,#e43725,#bf2718);background-image:-o-linear-gradient(top,#e43725,#bf2718);background-image:linear-gradient(top,#e43725,#bf2718);border-top:1px solid #a30800;border-left:1px solid #920000;border-bottom:1px solid #810000;border-right:1px solid #920000}.butn-blue{color:#fff;text-shadow:0 1px 1px rgba(204,204,204,.3);border:solid 1px #258cd1;background:#3498db;background:-webkit-gradient(linear,left top,left bottom,from(#4aa3df),to(#258cd1));background:-moz-linear-gradient(top,#4aa3df,#258cd1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e')}.butn-blue:hover,.butn-blue:focus,.butn-blue:active{background-color:#258cd1;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#258cd1),color-stop(100%,#217dbb));background-image:-webkit-linear-gradient(top,#2791d9,#258cd1);background-image:-moz-linear-gradient(top,#258cd1,#1d6fa5);background-image:-ms-linear-gradient(top,#258cd1,#1d6fa5);background-image:-o-linear-gradient(top,#258cd1,#1d6fa5);background-image:linear-gradient(top,#258cd1,#1d6fa5);border-top:1px solid #005497;border-left:1px solid #004386;border-bottom:1px solid #003275;border-right:1px solid #004386}.butn-green{color:#fff;text-shadow:0 1px 1px rgba(204,204,204,.3);border:solid 1px #29b765;background:#2ecc71;background:-webkit-gradient(linear,left top,left bottom,from(#40d47e),to(#29b765));background:-moz-linear-gradient(top,#40d47e,#29b765);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e')}.butn-green:hover,.butn-green:focus,.butn-green:active{background-color:#29b765;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#29b765),color-stop(100%,#25a25a));background-image:-webkit-linear-gradient(top,#2bc06a,#29b765);background-image:-moz-linear-gradient(top,#29b765,#208e4e);background-image:-ms-linear-gradient(top,#29b765,#208e4e);background-image:-o-linear-gradient(top,#29b765,#208e4e);background-image:linear-gradient(top,#29b765,#208e4e);border-top:1px solid #00882d;border-left:1px solid #00771c;border-bottom:1px solid #00660b;border-right:1px solid #00771c}.butn-purple{color:#fff;text-shadow:0 1px 1px rgba(204,204,204,.3);border:solid 1px #8f4bab;background:#9b59b6;background:-webkit-gradient(linear,left top,left bottom,from(#a66bbe),to(#8f4bab));background:-moz-linear-gradient(top,#a66bbe,#8f4bab);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e')}.butn-purple:hover,.butn-purple:focus,.butn-purple:active{background-color:#8f4bab;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8f4bab),color-stop(100%,#804399));background-image:-webkit-linear-gradient(top,#954eb1,#8f4bab);background-image:-moz-linear-gradient(top,#8f4bab,#713b87);background-image:-ms-linear-gradient(top,#8f4bab,#713b87);background-image:-o-linear-gradient(top,#8f4bab,#713b87);background-image:linear-gradient(top,#8f4bab,#713b87);border-top:1px solid #571572;border-left:1px solid #460461;border-bottom:1px solid #350050;border-right:1px solid #460461;color:#fff}