aside.skin-1 {
  background: #efefef;
}
aside.skin-1 .brand {
  background: #3c8dbc;
  color: #fff;
  border-bottom-color: #3b89b6;
}
aside.skin-1 .size-toggle {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-1 .size-toggle .btn {
  color: #777;
}
aside.skin-1 .size-toggle .btn:hover,
aside.skin-1 .size-toggle .btn:focus {
  color: #333;
}
aside.skin-1 .size-toggle .btn .icon-bar {
  background-color: #777;
}
aside.skin-1 .sidebar-inner {
  border-right-color: #dfdfdf;
}
aside.skin-1 .sidebar-inner .user-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-1 .sidebar-inner .user-block .detail {
  color: #777;
}
aside.skin-1 .sidebar-inner .user-block ul li a {
  color: #777;
}
aside.skin-1 .sidebar-inner .user-block ul li a:hover,
aside.skin-1 .sidebar-inner .user-block ul li a:focus {
  color: #333;
}
aside.skin-1 .sidebar-inner .search-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-1 .sidebar-inner .search-block input[type="text"],
aside.skin-1 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li {
  border-top-color: #f4f4f4;
  border-bottom-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li.active,
aside.skin-1 .main-menu > ul > li.display {
  border-top-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li.active > a,
aside.skin-1 .main-menu > ul > li.display > a {
  background:#9092C3;
  color:#FCFCFC;
}
aside.skin-1 .main-menu > ul > li > a {
  color: #777;
}
aside.skin-1 .main-menu > ul > li > a:hover,
aside.skin-1 .main-menu > ul > li > a:focus {
  background:#7375A5;
  color:#FCFCFC;
}
aside.skin-1 .main-menu > ul > li > a .menu-hover {
  background:#9B9DD5;
  box-shadow: 0 0 10px 0px #9B9DD5;
  -moz-box-shadow: 0 0 10px 0px #9B9DD5;
  -webkit-box-shadow: 0 0 10px 0px #9B9DD5;
}
aside.skin-1 .main-menu > ul > li > .submenu  li  a{
  background-color: #e6e6e6;
}
aside.skin-1 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #777;
}
aside.skin-1 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-1 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #222;
}
aside.skin-1 .main-menu > ul > li > .submenu  li.active a{
  background: #f9f9f9;
}
aside.skin-1 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #555;
}
@media (max-width: 767px)   {
  aside.skin-1 .main-menu > ul > li > .dropdown-menu li a {
    color: #777;
  }

  aside.skin-1 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-1 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #777;
    background: #f9f9f9;
  }
}
#top-nav.skin-1 {
  background:#7375A5;
  border-bottom:3px solid #9B9DD5;
}
#top-nav.skin-1 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-1 .brand {
  color:#D9DAF5;
  background:#7375A5;
}
#top-nav.skin-1 .page-title {
  color: #c3e3f5;
}
#top-nav.skin-1 .nav-notification > li.open {
  background:#8487C6;
}
#top-nav.skin-1 .nav-notification > li:hover {
  background:#8487C6;
}
#top-nav.skin-1 .nav-notification > li > a {
  color: #c3e3f5;
}
#top-nav.skin-1 .nav-notification > li > a:hover,
#top-nav.skin-1 .nav-notification > li > a:focus {
  color: #fff;
}
aside.skin-2 {
  background: #3a3a3a;
}
aside.skin-2 .brand {
  background: #3a3a3a;
  color: #fff;
  border-bottom-color: #444;
}
aside.skin-2 .size-toggle {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-2 .size-toggle .btn {
  color: #777;
}
aside.skin-2 .size-toggle .btn:hover,
aside.skin-2 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-2 .size-toggle .btn .icon-bar {
  background-color: #777;
}
aside.skin-2 .sidebar-inner {
  border-right:3px solid #99D267;
}
aside.skin-2 .sidebar-inner .user-block {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-2 .sidebar-inner .user-block .detail {
  color: #777;
}
aside.skin-2 .sidebar-inner .user-block ul li a {
  color: #777;
}
aside.skin-2 .sidebar-inner .user-block ul li a:hover,
aside.skin-2 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-2 .sidebar-inner .search-block {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-2 .sidebar-inner .search-block input[type="text"],
aside.skin-2 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-2 .main-menu > ul > li {
  border-top-color: #444;
  border-bottom-color: #333;
}
aside.skin-2 .main-menu > ul > li.active,
aside.skin-2 .main-menu > ul > li.display {
  border-top-color:#93C865;
}
aside.skin-2 .main-menu > ul > li.active > a,
aside.skin-2 .main-menu > ul > li.display > a {
  background:#8BBC61;
  color: #fff;
}
aside.skin-2 .main-menu > ul > li > a {
  color: #777;
}
aside.skin-2 .main-menu > ul > li > a:hover,
aside.skin-2 .main-menu > ul > li > a:focus {
  background:#93C865;
  color: #fff;
}
aside.skin-2 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-2 .main-menu > ul > li > .submenu  li  a{
  background-color: #333;
}
aside.skin-2 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #777;
}
aside.skin-2 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-2 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-2 .main-menu > ul > li > .submenu  li.active a{
  background:#93C865;
}
aside.skin-2 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-2 .main-menu > ul > li > .dropdown-menu li a {
    color: #777;
  }

  aside.skin-2 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-2 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background:#99D267;
  }
}
#top-nav.skin-2 {
  background:#99D267;
  border-bottom: 3px solid #34495E;
  border-top: 1px solid #86B959;
}
#top-nav.skin-2 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-2 .brand {
  color:#E5FAD3;
  background:#93C865;
}
#top-nav.skin-2 .page-title {
  color: #E5FAD3;
}
#top-nav.skin-2 .nav-notification > li.open {
  background:#99D267;
}
#top-nav.skin-2 .nav-notification > li:hover {
  background:#99D267;
}
#top-nav.skin-2 .nav-notification > li > a {
  color: #E5FAD3;
}
#top-nav.skin-2 .nav-notification > li > a:hover,
#top-nav.skin-2 .nav-notification > li > a:focus {
  color: #fff;
}
aside.skin-3 {
  background: #3e6b96;
}
aside.skin-3 .brand {
  background: #3e6b96;
  color: #D6E8F7;
  border-bottom-color: #4577A5;
}
aside.skin-3 .size-toggle {
  border-bottom-color: #396389;
  box-shadow: 0 1px 0 #4577a5;
  -moz-box-shadow: 0 1px 0 #4577a5;
  -webkit-box-shadow: 0 1px 0 #4577a5;
}
aside.skin-3 .size-toggle .btn {
  color: #D6E8F7;
}
aside.skin-3 .size-toggle .btn:hover,
aside.skin-3 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-3 .size-toggle .btn .icon-bar {
  background-color: #D6E8F7;
}
aside.skin-3 .sidebar-inner {
  border-right-color: #396389;
}
aside.skin-3 .sidebar-inner .user-block {
  border-bottom-color: #396389;
  box-shadow: 0 1px 0 #4577a5;
  -moz-box-shadow: 0 1px 0 #4577a5;
  -webkit-box-shadow: 0 1px 0 #4577a5;
}
aside.skin-3 .sidebar-inner .user-block .detail {
  color: #D6E8F7;
}
aside.skin-3 .sidebar-inner .user-block ul li a {
  color: #D6E8F7;
}
aside.skin-3 .sidebar-inner .user-block ul li a:hover,
aside.skin-3 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-3 .sidebar-inner .search-block {
  border-bottom-color: #396389;
  box-shadow: 0 1px 0 #4577a5;
  -moz-box-shadow: 0 1px 0 #4577a5;
  -webkit-box-shadow: 0 1px 0 #4577a5;
}
aside.skin-3 .sidebar-inner .search-block input[type="text"],
aside.skin-3 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-3 .main-menu > ul > li {
  border-top-color: #4577A5;
  border-bottom-color: #396389;
}
aside.skin-3 .main-menu > ul > li.active,
aside.skin-3 .main-menu > ul > li.display {
  border-top-color: #396389;
}
aside.skin-3 .main-menu > ul > li.active > a,
aside.skin-3 .main-menu > ul > li.display > a {
  background: #396389;
  color: #fff;
}
aside.skin-3 .main-menu > ul > li > a {
  color: #D6E8F7;
}
aside.skin-3 .main-menu > ul > li > a:hover,
aside.skin-3 .main-menu > ul > li > a:focus {
  background: #396389;
  color: #fff;
}
aside.skin-3 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-3 .main-menu > ul > li > .submenu  li  a{
  background-color: #4577a5;
}
aside.skin-3 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #D6E8F7;
}
aside.skin-3 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-3 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-3 .main-menu > ul > li > .submenu  li.active a{
  background: #396389;
}
aside.skin-3 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-3 .main-menu > ul > li > .dropdown-menu li a {
    color: #d6e8f7;
  }

  aside.skin-3 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-3 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background: #396389;
  }
}
#top-nav.skin-3 {
  background: #fff;
  border-bottom-color: #eee;
}
#top-nav.skin-3 .navbar-toggle .icon-bar {
  background-color: #999;
}
#top-nav.skin-3 .brand {
  color: #fff;
  background: #3e6b96;
}
#top-nav.skin-3 .page-title {
  color: #999;
}
#top-nav.skin-3 .nav-notification > li.open {
  background: rgba(252, 252, 252, 0.9);
}
#top-nav.skin-3 .nav-notification > li:hover {
  background: rgba(252, 252, 252, 0.9);
}
#top-nav.skin-3 .nav-notification > li > a {
  color: #999;
}
#top-nav.skin-3 .nav-notification > li > a:hover,
#top-nav.skin-3 .nav-notification > li > a:focus {
  color: #777;
}
aside.skin-4 {
  background: #635247;
}
aside.skin-4 .brand {
  background: #635247;
  color: #F7E4D7;
  border-bottom-color: #55473E;
}
aside.skin-4 .size-toggle {
  border-bottom-color: #55473E;
  box-shadow: 0 1px 0 #756155;
  -moz-box-shadow: 0 1px 0 #756155;
  -webkit-box-shadow: 0 1px 0 #756155;
}
aside.skin-4 .size-toggle .btn {
  color: #F7E4D7;
}
aside.skin-4 .size-toggle .btn:hover,
aside.skin-4 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-4 .size-toggle .btn .icon-bar {
  background-color: #F7E4D7;
}
aside.skin-4 .sidebar-inner {
  border-right-color: #55473E;
}
aside.skin-4 .sidebar-inner .user-block {
  border-bottom-color: #55473E;
  box-shadow: 0 1px 0 #756155;
  -moz-box-shadow: 0 1px 0 #756155;
  -webkit-box-shadow: 0 1px 0 #756155;
}
aside.skin-4 .sidebar-inner .user-block .detail {
  color: #F7E4D7;
}
aside.skin-4 .sidebar-inner .user-block ul li a {
  color: #F7E4D7;
}
aside.skin-4 .sidebar-inner .user-block ul li a:hover,
aside.skin-4 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-4 .sidebar-inner .search-block {
  border-bottom-color: #55473E;
  box-shadow: 0 1px 0 #756155;
  -moz-box-shadow: 0 1px 0 #756155;
  -webkit-box-shadow: 0 1px 0 #756155;
}
aside.skin-4 .sidebar-inner .search-block input[type="text"],
aside.skin-4 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-4 .main-menu > ul > li {
  border-top-color: #756155;
  border-bottom-color: #55473E;
}
aside.skin-4 .main-menu > ul > li.active,
aside.skin-4 .main-menu > ul > li.display {
  border-top-color: #55473E;
}
aside.skin-4 .main-menu > ul > li.active > a,
aside.skin-4 .main-menu > ul > li.display > a {
  background: #55473E;
  color: #fff;
}
aside.skin-4 .main-menu > ul > li > a {
  color: #F7E4D7;
}
aside.skin-4 .main-menu > ul > li > a:hover,
aside.skin-4 .main-menu > ul > li > a:focus {
  background: #55473E;
  color: #fff;
}
aside.skin-4 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-4 .main-menu > ul > li > .submenu  li  a{
  background-color: #69594E;
}
aside.skin-4 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #F7E4D7;
}
aside.skin-4 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-4 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-4 .main-menu > ul > li > .submenu  li.active a{
  background: #55473E;
}
aside.skin-4 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-4 .main-menu > ul > li > .dropdown-menu li a {
    color: #f7e4d7;
  }

  aside.skin-4 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-4 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background: #55473e;
  }
}
#top-nav.skin-4 {
  background: #635247;
  border-bottom-color: #55473E;
}
#top-nav.skin-4 .navbar-toggle .icon-bar {
  background-color: #F7E4D7;
}
#top-nav.skin-4 .brand {
  color: #F7E4D7;
  background: #635247;
}
#top-nav.skin-4 .page-title {
  color: #F7E4D7;
}
#top-nav.skin-4 .nav-notification > li.open {
  background: #55473E;
}
#top-nav.skin-4 .nav-notification > li:hover {
  background: #55473E;
}
#top-nav.skin-4 .nav-notification > li > a {
  color: #F7E4D7;
}
#top-nav.skin-4 .nav-notification > li > a:hover,
#top-nav.skin-4 .nav-notification > li > a:focus {
  color: #fff;
}

aside.skin-5 {
  background: #3a3a3a;
}
aside.skin-5 .size-toggle {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-5 .size-toggle .btn {
  color: #999;
}
aside.skin-5 .size-toggle .btn:hover,
aside.skin-5 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-5 .size-toggle .btn .icon-bar {
  background-color: #999;
}
aside.skin-5 .sidebar-inner {
  border-right-color: #333;
}
aside.skin-5 .sidebar-inner .user-block {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-5 .sidebar-inner .user-block .detail {
  color: #999;
}
aside.skin-5 .sidebar-inner .user-block ul li a {
  color: #999;
}
aside.skin-5 .sidebar-inner .user-block ul li a:hover,
aside.skin-5 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-5 .sidebar-inner .search-block {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-5 .sidebar-inner .search-block input[type="text"],
aside.skin-5 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #999;
  border-color: #dfdfdf;
}
aside.skin-5 .main-menu > ul > li {
  border-top-color: #444;
  border-bottom-color: #333;
}
aside.skin-5 .main-menu > ul > li.active,
aside.skin-5 .main-menu > ul > li.display {
  border-top-color: #333;
}
aside.skin-5 .main-menu > ul > li.active > a,
aside.skin-5 .main-menu > ul > li.display > a {
  background: #333;
  color: #fff;
}
aside.skin-5 .main-menu > ul > li > a {
  color: #999;
}
aside.skin-5 .main-menu > ul > li > a:hover,
aside.skin-5 .main-menu > ul > li > a:focus {
  background: #333;
  color: #fff;
}
aside.skin-5 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-5 .main-menu > ul > li > .submenu  li  a{
  background-color: #333;
}
aside.skin-5 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #999;
}
aside.skin-5 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-5 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-5 .main-menu > ul > li > .submenu  li.active a{
  background: #222;
}
aside.skin-5 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-5 .main-menu > ul > li > .dropdown-menu li a {
    color: #999;
  }

  aside.skin-5 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-5 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background: #333;
  }
}
#top-nav.skin-5 {
  background: #3a3a3a;
  border-bottom-color: #333;
}
#top-nav.skin-5 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-5 .brand {
  color: #999;
  background: #3a3a3a;
}
#top-nav.skin-5 .page-title {
  color: #999;
}
#top-nav.skin-5 .nav-notification > li.open {
  background: #333;
}
#top-nav.skin-5 .nav-notification > li:hover {
  background: #333;
}
#top-nav.skin-5 .nav-notification > li > a {
  color: #999;
}
#top-nav.skin-5 .nav-notification > li > a:hover,
#top-nav.skin-5 .nav-notification > li > a:focus {
  color: #fff;
}

aside.skin-6 {
  background:#AD1D27;
}
aside.skin-6 .size-toggle {
  border-bottom-color: #1F6D43;
  box-shadow: 0 1px 0 #1F6D43;
  -moz-box-shadow: 0 1px 0 #1F6D43;
  -webkit-box-shadow: 0 1px 0 #1F6D43;
}
aside.skin-6 .size-toggle .btn {
  color: #BECFE0;
}
aside.skin-6 .size-toggle .btn:hover,
aside.skin-6 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-6 .size-toggle .btn .icon-bar {
  background-color: #BECFE0;
}
aside.skin-6 .sidebar-inner {
  border-right-color:#BFCFE8;
}
aside.skin-6 .sidebar-inner .user-block {
  border-bottom-color: #fff;
  box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
}
aside.skin-6 .sidebar-inner .user-block .detail {
  color: #BECFE0;
}
aside.skin-6 .sidebar-inner .user-block ul li a {
  color: #BECFE0;
}
aside.skin-6 .sidebar-inner .user-block ul li a:hover,
aside.skin-6 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-6 .sidebar-inner .search-block {
  border-bottom-color: #fff;
  box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
}
aside.skin-6 .sidebar-inner .search-block input[type="text"],
aside.skin-6 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #BECFE0;
  border-color: #dfdfdf;
}
aside.skin-6 .main-menu > ul > li {
  border-top-color: #85171F;
  border-bottom-color: #85171F;
}
aside.skin-6 .main-menu > ul > li.active,
aside.skin-6 .main-menu > ul > li.display {
  border-top-color: #9ECAB3;
}
aside.skin-6 .main-menu > ul > li.active > a,
aside.skin-6 .main-menu > ul > li.display > a {
  background: #121212;
  color: #fff;
}
aside.skin-6 .main-menu > ul > li > a {
  color: #fff;
}
aside.skin-6 .main-menu > ul > li > a:hover,
aside.skin-6 .main-menu > ul > li > a:focus {
  background: #121212;
  color: #fff;
}
aside.skin-6 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-6 .main-menu > ul > li > .submenu  li  a{
  background-color: #121212;
}
aside.skin-6 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #BECFE0;
}
aside.skin-6 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-6 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-6 .main-menu > ul > li > .submenu  li.active a{
  background: #2E3943;
}
aside.skin-6 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-6 .main-menu > ul > li > .dropdown-menu li a {
    color: #fff;
  }

  aside.skin-6 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-6 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background: #DCBE17;
  }
}
#top-nav.skin-6 {
  background:#268250;
  border-bottom:3px solid #DDB2AB;
}
#top-nav.skin-6 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-6 .brand {
  color:#F0EFEF;
  background:#268250;
}
#top-nav.skin-6 .brand:hover
,#top-nav.skin-6 .brand:focus {
  color: #fff;
}
#top-nav.skin-6 .page-title {
  color:#F0EFEF;
}
#top-nav.skin-6 .nav-notification > li.open {
  background: #DCBE17;
}
#top-nav.skin-6 .nav-notification > li:hover {
  background: #DCBE17;
}
#top-nav.skin-6 .nav-notification > li > a {
  color:#FEF5F4;
}
#top-nav.skin-6 .nav-notification > li > a:hover,
#top-nav.skin-6 .nav-notification > li > a:focus {
  color: #fff;
}



aside.skin-7 {
  background:#9367C8;
}
aside.skin-7 .size-toggle {
  border-bottom-color: #AC92EC;
  box-shadow: 0 1px 0 #AC92EC;
  -moz-box-shadow: 0 1px 0 #AC92EC;
  -webkit-box-shadow: 0 1px 0 #AC92EC;
}
aside.skin-7 .size-toggle .btn {
  color: #EAEAEA;
}
aside.skin-7 .size-toggle .btn:hover,
aside.skin-7 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-7 .size-toggle .btn .icon-bar {
  background-color: #EAEAEA;
}
aside.skin-7 .sidebar-inner {
  border-right:4px solid #1EC3FF;
}
aside.skin-7 .sidebar-inner .user-block {
  border-bottom-color:#9367C8;
  box-shadow: 0 1px 0 #AC92EC;
  -moz-box-shadow: 0 1px 0 #AC92EC;
  -webkit-box-shadow: 0 1px 0 #AC92EC;
}
aside.skin-7 .sidebar-inner .user-block .detail {
  color: #EAEAEA;
}
aside.skin-7 .sidebar-inner .user-block ul li a {
  color: #EAEAEA;
}
aside.skin-7 .sidebar-inner .user-block ul li a:hover,
aside.skin-7 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-7 .sidebar-inner .search-block {
  border-bottom-color: #EA6F69;
  box-shadow: 0 1px 0 #AC92EC;
  -moz-box-shadow: 0 1px 0 #AC92EC;
  -webkit-box-shadow: 0 1px 0 #AC92EC;
}
aside.skin-7 .sidebar-inner .search-block input[type="text"],
aside.skin-7 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #EAEAEA;
  border-color: #dfdfdf;
}
aside.skin-7 .main-menu > ul > li {
  border-top-color:#A17FC9;
  border-bottom-color:#8866B2;
}
aside.skin-7 .main-menu > ul > li.active,
aside.skin-7 .main-menu > ul > li.display {
  border-top-color: #CAABEF;
}
aside.skin-7 .main-menu > ul > li.active > a,
aside.skin-7 .main-menu > ul > li.display > a {
  background: #7A54A9;
  color: #fff;
}
aside.skin-7 .main-menu > ul > li > a {
  color: #FFFFFF;
}
aside.skin-7 .main-menu > ul > li > a:hover,
aside.skin-7 .main-menu > ul > li > a:focus {
  background:#5E3F84;
  color: #fff;
}
aside.skin-7 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-7 .main-menu > ul > li > .submenu  li  a{
  background-color:#7A54A9;
}
aside.skin-7 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #EAEAEA;
}
aside.skin-7 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-7 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-7 .main-menu > ul > li > .submenu  li.active a{
  background: #1EC3FF;
}
aside.skin-7 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-7 .main-menu > ul > li > .dropdown-menu li a {
    color: #EAEAEA;
  }

  aside.skin-7 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-7 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background:#1EC3FF;
  }
}
#top-nav.skin-7 {
  background:#A48AD4;
  border-bottom-color:#967ADC;
}
#top-nav.skin-7 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-7 .brand {
  color: #EAEAEA;
  background:#1EC3FF;
}
#top-nav.skin-7 .brand:hover
,#top-nav.skin-7 .brand:focus {
  color: #fff;
}
#top-nav.skin-7 .page-title {
  color: #EAEAEA;
}
#top-nav.skin-7 .nav-notification > li.open {
  background: #1EC3FF;
}
#top-nav.skin-7 .nav-notification > li:hover {
  background: #1EC3FF;
}
#top-nav.skin-7 .nav-notification > li > a {
  color: #EAEAEA;
}
#top-nav.skin-7 .nav-notification > li > a:hover,
#top-nav.skin-7 .nav-notification > li > a:focus {
  color: #fff;
}






aside.skin-8 {
  background:#4D627F;
}
aside.skin-8 .size-toggle {
  border-bottom-color: #3A96D5;
  box-shadow: 0 1px 0 #FAC2CE;
  -moz-box-shadow: 0 1px 0 #FAC2CE;
  -webkit-box-shadow: 0 1px 0 #FAC2CE;
}
aside.skin-8 .size-toggle .btn {
  color: #EAEAEA;
}
aside.skin-8 .size-toggle .btn:hover,
aside.skin-8 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-8 .size-toggle .btn .icon-bar {
  background-color: #EAEAEA;
}
aside.skin-8 .sidebar-inner {
  border-right:4px solid #6E8BB4;
}
aside.skin-8 .sidebar-inner .user-block {
  border-bottom-color: #322D2D;
  background-color: #314559;
  box-shadow: 0 1px 0 #322D2D;
  -moz-box-shadow: 0 1px 0 #322D2D;
  -webkit-box-shadow: 0 1px 0 #322D2D;
}
aside.skin-8 .sidebar-inner .user-block .detail {
  color: #EAEAEA;
}
aside.skin-8 .sidebar-inner .user-block ul li a {
  color: #EAEAEA;
}
aside.skin-8 .sidebar-inner .user-block ul li a:hover,
aside.skin-8 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-8 .sidebar-inner .search-block {
  border-bottom-color: #6E8BB4;
  box-shadow: 0 1px 0 #6E8BB4;
  -moz-box-shadow: 0 1px 0 #6E8BB4;
  -webkit-box-shadow: 0 1px 0 #6E8BB4;
}
aside.skin-8 .sidebar-inner .search-block input[type="text"],
aside.skin-8 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #EAEAEA;
  border-color: #dfdfdf;
}
aside.skin-8 .main-menu > ul > li {
  border-top-color:#43556E;
  border-bottom-color:#415873;
}
aside.skin-8 .main-menu > ul > li.active,
aside.skin-8 .main-menu > ul > li.display {
  border-top-color: #6E8BB4;
}
aside.skin-8 .main-menu > ul > li.active > a,
aside.skin-8 .main-menu > ul > li.display > a {
  background: #424651;
  color: #fff;
}
aside.skin-8 .main-menu > ul > li > a {
  color: #FFFFFF;
}
aside.skin-8 .main-menu > ul > li > a:hover,
aside.skin-8 .main-menu > ul > li > a:focus {
  background:#314559;
  color: #fff;
}
aside.skin-8 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-8 .main-menu > ul > li > .submenu  li  a{
  background-color:#6483B3;
}
aside.skin-8 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #EAEAEA;
}
aside.skin-8 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-8 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;

}
aside.skin-8 .main-menu > ul > li > .submenu  li.active a{
  background:#6483B3;
}
aside.skin-8 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-8 .main-menu > ul > li > .dropdown-menu li a {
    color: #EAEAEA;
  }

  aside.skin-8 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-8 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background:#6483B3;
  }
}
#top-nav.skin-8 {
  background:#F5859D;
  border-bottom:3px solid #FAC2CE;
}
#top-nav.skin-8 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-8 .brand {
  color: #EAEAEA;
  background:#E77890;
}
#top-nav.skin-8 .brand:hover
,#top-nav.skin-8 .brand:focus {
  color: #fff;
}
#top-nav.skin-8 .page-title {
  color: #EAEAEA;
}
#top-nav.skin-8 .nav-notification > li.open {
  background: #6483B3;
}
#top-nav.skin-8 .nav-notification > li:hover {
  background-color:#424651;
}
#top-nav.skin-8 .nav-notification > li > a {
  color: #EAEAEA;
}
#top-nav.skin-8 .nav-notification > li > a:hover,
#top-nav.skin-8 .nav-notification > li > a:focus {
  color: #fff;
}






aside.skin-9 {
  background:#F9AF58;
}
aside.skin-9 .size-toggle {
  border-bottom-color: #854850;
  box-shadow: 0 1px 0 #FAC2CE;
  -moz-box-shadow: 0 1px 0 #FAC2CE;
  -webkit-box-shadow: 0 1px 0 #FAC2CE;
}
aside.skin-9 .size-toggle .btn {
  color: #EAEAEA;
}
aside.skin-9 .size-toggle .btn:hover,
aside.skin-9 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-9 .size-toggle .btn .icon-bar {
  background-color: #EAEAEA;
}
aside.skin-9 .sidebar-inner {
  border-right:2px solid #88665A;
}
aside.skin-9 .sidebar-inner .user-block {
  border-bottom-color:#88665A;
  background-color:#88665A;
  box-shadow: 0 1px 0 #322D2D;
  -moz-box-shadow: 0 1px 0 #322D2D;
  -webkit-box-shadow: 0 1px 0 #322D2D;
}
aside.skin-9 .sidebar-inner .user-block .detail {
  color: #EAEAEA;
}
aside.skin-9 .sidebar-inner .user-block ul li a {
  color: #EAEAEA;
}
aside.skin-9 .sidebar-inner .user-block ul li a:hover,
aside.skin-9 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-9 .sidebar-inner .search-block {
  border-bottom-color: #E39C48;
  box-shadow: 0 1px 0 #6E8BB4;
  -moz-box-shadow: 0 1px 0 #6E8BB4;
  -webkit-box-shadow: 0 1px 0 #6E8BB4;
}
aside.skin-9 .sidebar-inner .search-block input[type="text"],
aside.skin-9 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #EAEAEA;
  border-color: #dfdfdf;
}
aside.skin-9 .main-menu > ul > li {
  border-top-color:#E4A051;
  border-bottom-color:#DB994D;
}
aside.skin-9 .main-menu > ul > li.active,
aside.skin-9 .main-menu > ul > li.display {
  border-top-color:#E39C48;
}
aside.skin-9 .main-menu > ul > li.active > a,
aside.skin-9 .main-menu > ul > li.display > a {
  background:#D5484C;
  color: #fff;
}
aside.skin-9 .main-menu > ul > li > a {
  color:#624C44;
}
aside.skin-9 .main-menu > ul > li > a:hover,
aside.skin-9 .main-menu > ul > li > a:focus {
  background:#805F54;
  color: #fff;
}
aside.skin-9 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-9 .main-menu > ul > li > .submenu  li  a{
  background-color:#E39C48;
}
aside.skin-9 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #EAEAEA;
}
aside.skin-9 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-9 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;

}
aside.skin-9 .main-menu > ul > li > .submenu  li.active a{
  background:#E39C48;
}
aside.skin-9 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
  aside.skin-9 .main-menu > ul > li > .dropdown-menu li a {
    color: #EAEAEA;
  }

  aside.skin-9 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-9 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #fff;
    background:#E39C48;
  }
}
#top-nav.skin-9 {
  background:#D5484C;
  border-bottom:3px solid #D5484C;
}
#top-nav.skin-9 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-9 .brand {
  color: #EAEAEA;
  background:#E55056;
}
#top-nav.skin-9 .brand:hover
,#top-nav.skin-9 .brand:focus {
  color: #fff;
}
#top-nav.skin-9 .page-title {
  color: #EAEAEA;
}
#top-nav.skin-9 .nav-notification > li.open {
  background: #E39C48;
}
#top-nav.skin-9 .nav-notification > li:hover {
  background-color:#FFAA31;
}
#top-nav.skin-9 .nav-notification > li > a {
  color: #EAEAEA;
}
#top-nav.skin-9 .nav-notification > li > a:hover,
#top-nav.skin-9 .nav-notification > li > a:focus {
  color: #fff;
}


aside.skin-10 {
  background: #efefef;
}
aside.skin-10 .brand {
  background:#1EC3FF;
  color: #fff;
  border-bottom-color:#1EC3FF;
}
aside.skin-10 .size-toggle {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-10 .size-toggle .btn {
  color: #777;
}
aside.skin-10 .size-toggle .btn:hover,
aside.skin-10 .size-toggle .btn:focus {
  color: #333;
}
aside.skin-10 .size-toggle .btn .icon-bar {
  background-color: #777;
}
aside.skin-10 .sidebar-inner {
  border-right:1px solid #DFF0F6;
}
aside.skin-10 .sidebar-inner .user-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-10 .sidebar-inner .user-block .detail {
  color: #777;
}
aside.skin-10 .sidebar-inner .user-block ul li a {
  color: #777;
}
aside.skin-10 .sidebar-inner .user-block ul li a:hover,
aside.skin-10 .sidebar-inner .user-block ul li a:focus {
  color: #333;
}
aside.skin-10 .sidebar-inner .search-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-10 .sidebar-inner .search-block input[type="text"],
aside.skin-10 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-10 .main-menu > ul > li {
  border-top-color: #f4f4f4;
  border-bottom-color: #dfdfdf;
}
aside.skin-10 .main-menu > ul > li.active,
aside.skin-10 .main-menu > ul > li.display {
  border-top-color: #dfdfdf;
}
aside.skin-10 .main-menu > ul > li.active > a,
aside.skin-10 .main-menu > ul > li.display > a {
  background: #f9f9f9;
}
aside.skin-10 .main-menu > ul > li > a {
  color: #777;
}
aside.skin-10 .main-menu > ul > li > a:hover,
aside.skin-10 .main-menu > ul > li > a:focus {
  background: #f9f9f9;
}
aside.skin-10 .main-menu > ul > li > a .menu-hover {
  background:#3DABD4;
  box-shadow: 0 0 10px 0px #3DABD4;
  -moz-box-shadow: 0 0 10px 0px #3DABD4;
  -webkit-box-shadow: 0 0 10px 0px #3DABD4;
}
aside.skin-10 .main-menu > ul > li > .submenu  li  a{
  background-color: #e6e6e6;
}
aside.skin-10 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #777;
}
aside.skin-10 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-10 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #222;
}
aside.skin-10 .main-menu > ul > li > .submenu  li.active a{
  background: #f9f9f9;
}
aside.skin-10 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #555;
}
@media (max-width: 767px)   {
  aside.skin-10 .main-menu > ul > li > .dropdown-menu li a {
    color: #777;
  }

  aside.skin-10 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-10 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #777;
    background: #f9f9f9;
  }
}
#top-nav.skin-10 {
  background:#3BAFDA;
  border-bottom:2px solid #CBCFD8;
}
#top-nav.skin-10 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-10 .brand {
  color: #c3e3f5;
  background:#3B536A;
}
#top-nav.skin-10 .page-title {
  color: #c3e3f5;
}
#top-nav.skin-10 .nav-notification > li.open {
  background: #3b89b6;
}
#top-nav.skin-10 .nav-notification > li:hover {
  background: #3b89b6;
}
#top-nav.skin-10 .nav-notification > li > a {
  color: #c3e3f5;
}
#top-nav.skin-10 .nav-notification > li > a:hover,
#top-nav.skin-10 .nav-notification > li > a:focus {
  color: #fff;
}












aside.skin-11 {
  background: #efefef;
}
aside.skin-11 .brand {
  background:#356934;
  color: #fff;
  border-bottom-color:#356934;
}
aside.skin-11 .size-toggle {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-11 .size-toggle .btn {
  color: #777;
}
aside.skin-11 .size-toggle .btn:hover,
aside.skin-11 .size-toggle .btn:focus {
  color: #333;
}
aside.skin-11 .size-toggle .btn .icon-bar {
  background-color: #777;
}
aside.skin-11 .sidebar-inner {
  border-right:1px solid #DFF0F6;
}
aside.skin-11 .sidebar-inner .user-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-11 .sidebar-inner .user-block .detail {
  color: #777;
}
aside.skin-11 .sidebar-inner .user-block ul li a {
  color: #777;
}
aside.skin-11 .sidebar-inner .user-block ul li a:hover,
aside.skin-11 .sidebar-inner .user-block ul li a:focus {
  color: #333;
}
aside.skin-11 .sidebar-inner .search-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-11 .sidebar-inner .search-block input[type="text"],
aside.skin-11 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-11 .main-menu > ul > li {
  border-top-color: #f4f4f4;
  border-bottom-color: #dfdfdf;
}
aside.skin-11 .main-menu > ul > li.active,
aside.skin-11 .main-menu > ul > li.display {
  border-top-color: #dfdfdf;
}
aside.skin-11 .main-menu > ul > li.active > a,
aside.skin-11 .main-menu > ul > li.display > a {
  background: #f9f9f9;
}
aside.skin-11 .main-menu > ul > li > a {
  color: #777;
}
aside.skin-11 .main-menu > ul > li > a:hover,
aside.skin-11 .main-menu > ul > li > a:focus {
  background: #f9f9f9;
}
aside.skin-11 .main-menu > ul > li > a .menu-hover {
  background:#356934;
  box-shadow: 0 0 10px 0px #356934;
  -moz-box-shadow: 0 0 10px 0px #356934;
  -webkit-box-shadow: 0 0 10px 0px #356934;
}
aside.skin-11 .main-menu > ul > li > .submenu  li  a{
  background-color: #e6e6e6;
}
aside.skin-11 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #777;
}
aside.skin-11 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-11 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #222;
}
aside.skin-11 .main-menu > ul > li > .submenu  li.active a{
  background: #f9f9f9;
}
aside.skin-11 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #555;
}
@media (max-width: 767px)   {
  aside.skin-11 .main-menu > ul > li > .dropdown-menu li a {
    color: #777;
  }

  aside.skin-11 .main-menu > ul > li > .dropdown-menu li a:hover
  ,aside.skin-11 .main-menu > ul > li > .dropdown-menu li a:focus {
    color: #777;
    background: #f9f9f9;
  }
}
#top-nav.skin-11 {
  background:#356934;
  border-bottom:2px solid #CBCFD8;
}
#top-nav.skin-11 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-11 .brand {
  color: #fff;
  background:#356934;
}
#top-nav.skin-11 .page-title {
  color: #c3e3f5;
}
#top-nav.skin-11 .nav-notification > li.open {
  background: #356934;
}
#top-nav.skin-11 .nav-notification > li:hover {
  background: #356934;
}
#top-nav.skin-11 .nav-notification > li > a {
  color: #c3e3f5;
}
#top-nav.skin-11 .nav-notification > li > a:hover,
#top-nav.skin-11 .nav-notification > li > a:focus {
  color: #fff;
}