#navbar{
    background-color: #494D4D;
    margin: 40px -8px 0 -8px;

    height: 45px;


}

.input{
    border-radius: 3px;
    height: 30px;
    padding: 2px;
}

.input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


.butn {
    display: inline-block;
    zoom: 1;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 13px/100% Arial, Helvetica, sans-serif;
    padding: .5em 1em;
    margin-left: 90px;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.butn-turquoise {
    color: white;
    text-shadow: 0 1px 1px rgba(204, 204, 204, 0.3);
    border: solid 1px #17a689;
    background: #1abc9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1dd2af), to(#17a689));
    background: -moz-linear-gradient(top, #1dd2af, #17a689);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
.butn-turquoise:hover,.butn-turquoise:focus,.butn-turquoise:active {
    background-color: #17a689;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17a689), color-stop(100%, #148f77));
    background-image: -webkit-linear-gradient(top, #18af91, #17a689);
    background-image: -moz-linear-gradient(top, #17a689, #117964);
    background-image: -ms-linear-gradient(top, #17a689, #117964);
    background-image: -o-linear-gradient(top, #17a689, #117964);
    background-image: linear-gradient(top, #17a689, #117964);
    border-top: 1px solid #007858;
    border-left: 1px solid #006747;
    border-bottom: 1px solid #005636;
    border-right: 1px solid #006747; }